html,
body {
  overflow-x: hidden;
}

.ft-40 {
  font-size: 40px;
}

.ft-32 {
  font-size: 32px;
}

.ft-18 {
  font-size: 18px;
}

.fw-700 {
  font-weight: 700;
}

.fw-500 {
  font-weight: 500;
}

.bg-login {
  background: #0caf60 !important;
}
a.nav-link {
  color: #0caf60 !important;
}
.nav-drop {
  color: #0caf60 !important;
}
ul.pagination > li.page-item.active > span.page-link {
  background-color: #0caf60 !important;
  border: #0caf60;
}
